anthropic
alembic
anyio
bcrypt==4.0.1
celery[redis]==5.4.0
fastapi
flask
gunicorn
jinja2
passlib[bcrypt]
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
python-multipart
redis
reportlab
sqlalchemy
uvicorn[standard]
pytest
pytest-cov
pytest-anyio
resend